.headerblock{

        display: flex;
   
        justify-content: center;
        align-items: center;
       

        .header{
                width:1024px;
                text-align:center;


        }
}