@import "sass/variables";
@import "sass/base";
@import "sass/login/login";
@import "sass/components/header";
@import "sass/components/container";
@import 'bootstrap/scss/bootstrap.scss';

  h2 {
    font-size: 20px;
    position: relative;
    color: $primaryColor;
  }

